pkgbase = phantom-bin
	pkgdesc = Waydroid keyboard-and-mouse to Android multitouch mapper
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/oliviermugishak/phantom
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = gcc-libs
	depends = glibc
	depends = gtk3
	depends = libglvnd
	depends = libx11
	depends = libxcursor
	depends = libxfixes
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxrandr
	depends = wayland
	optdepends = waydroid: Android container runtime
	provides = phantom
	conflicts = phantom
	conflicts = phantom-git
	source = https://github.com/oliviermugishak/phantom/releases/download/v1.1.0/phantom-v1.1.0-linux-x86_64.tar.gz
	sha256sums = SKIP

pkgname = phantom-bin
